@import url('https://fonts.googleapis.com/css2?family=Freeman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf9fb;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: #e93d82;

    --radius: 0.5rem;


    --component: rgb(255, 255, 255);
    --navbar: #f9f9fb;

    --border-color: #efefef;
    --input-shadow:#e93d82;
    --text-color: #333;
    --handle-color: rgba(0, 0, 0, 0.25);
    --box-shadow-border: 0 0 0 calc(1px / var(--scale-x, 1))
      rgba(63, 63, 68, 0.05);
    --box-shadow-common: 0 1px calc(3px / var(--scale-x, 1)) 0
      rgba(34, 33, 81, 0.15);
    --box-shadow: var(--box-shadow-border), var(--box-shadow-common);
    --button-shadow: 0px 0px 4px 2px rgba(243, 18, 96, 0.3);

        --red-1: #fffcfc;
        --red-2: #fff7f7;
        --red-3: #feebec;
        --red-4: #ffdbdc;
        --red-5: #ffcdce;
        --red-6: #fdbdbe;
        --red-7: #f4a9aa;
        --red-8: #eb8e90;
        --red-9: #e5484d;
        --red-10: #dc3e42;
        --red-11: #ce2c31;
        --red-12: #641723;

        --brand-1: #FFFCFD;
        --brand-2: #FFF6F8;
        --brand-3: #FFE8ED;
        --brand-4: #FFD9E2;
        --brand-5: #FFCAD6;
        --brand-6: #FDBAC9;
        --brand-7: #F5A6B9;
        --brand-8: #ED8CA5;
        --brand-9: #FF007B;
        --brand-10: #EF006F;
        --brand-11: #D50061;
        --brand-12: #6B0030;
 

      --mauve-1: #fdfcfd;
      --mauve-2: #faf9fb;
      --mauve-3: #f2eff3;
      --mauve-4: #eae7ec;
      --mauve-5: #e3dfe6;
      --mauve-6: #dbd8e0;
      --mauve-7: #d0cdd7;
      --mauve-8: #bcbac7;
      --mauve-9: #8e8c99;
      --mauve-10: #84828e;
      --mauve-11: #65636d;
      --mauve-12: #211f26;

        --mauve-a1: #55005503;
        --mauve-a2: #2b005506;
        --mauve-a3: #30004010;
        --mauve-a4: #20003618;
        --mauve-a5: #20003820;
        --mauve-a6: #14003527;
        --mauve-a7: #10003332;
        --mauve-a8: #08003145;
        --mauve-a9: #05001d73;
        --mauve-a10: #0500197d;
        --mauve-a11: #0400119c;
        --mauve-a12: #020008e0;

          --jade-1: #fbfefd;
          --jade-2: #f4fbf7;
          --jade-3: #e6f7ed;
          --jade-4: #d6f1e3;
          --jade-5: #c3e9d7;
          --jade-6: #acdec8;
          --jade-7: #8bceb6;
          --jade-8: #56ba9f;
          --jade-9: #29a383;
          --jade-10: #26997b;
          --jade-11: #208368;
          --jade-12: #1d3b31;

            --iris-1: #fdfdff;
            --iris-2: #f8f8ff;
            --iris-3: #f0f1fe;
            --iris-4: #e6e7ff;
            --iris-5: #dadcff;
            --iris-6: #cbcdff;
            --iris-7: #b8baf8;
            --iris-8: #9b9ef0;
            --iris-9: #5b5bd6;
            --iris-10: #5151cd;
            --iris-11: #5753c6;
            --iris-12: #272962;

              --black-a1: rgba(0, 0, 0, 0.05);
              --black-a2: rgba(0, 0, 0, 0.1);
              --black-a3: rgba(0, 0, 0, 0.15);
              --black-a4: rgba(0, 0, 0, 0.2);
              --black-a5: rgba(0, 0, 0, 0.3);
              --black-a6: rgba(0, 0, 0, 0.4);
              --black-a7: rgba(0, 0, 0, 0.5);
              --black-a8: rgba(0, 0, 0, 0.6);
              --black-a9: rgba(0, 0, 0, 0.7);
              --black-a10: rgba(0, 0, 0, 0.8);
              --black-a11: rgba(0, 0, 0, 0.9);
              --black-a12: rgba(0, 0, 0, 0.95);

                  --yellow-1: #fdfdf9;
                  --yellow-2: #fefce9;
                  --yellow-3: #fffab8;
                  --yellow-4: #fff394;
                  --yellow-5: #ffe770;
                  --yellow-6: #f3d768;
                  --yellow-7: #e4c767;
                  --yellow-8: #d5ae39;
                  --yellow-9: #ffe629;
                  --yellow-10: #ffdc00;
                  --yellow-11: #9e6c00;
                  --yellow-12: #473b1f;
                  

  }

  .dark {
    --background: #111111;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --navbar: hsla(240, 92.7%, 53%, 0.009);
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --button-shadow: 0px 0px 4px 2px rgba(243, 18, 96, 0.3);
    --input-shadow:#e93d82;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring:#873356 ;
  --component: rgba(35, 34, 37, 0.5);
    --box-shadow-border: 0 0 0 calc(1px / var(--scale-x, 1))
      rgba(248, 248, 248, 0.05);
    --box-shadow-common: 0 1px calc(3px / var(--scale-x, 1)) 0
      rgba(255, 253, 253, 0.15);
    --box-shadow: var(--box-shadow-border), var(--box-shadow-common);
    --focused-outline-color: #1a001e;
    --focused-outline-color: #430245;

        --red-1: #191111;
        --red-2: #201314;
        --red-3: #3b1219;
        --red-4: #500f1c;
        --red-5: #611623;
        --red-6: #72232d;
        --red-7: #8c333a;
        --red-8: #b54548;
        --red-9: #e5484d;
        --red-10: #ec5d5e;
        --red-11: #ff9592;
        --red-12: #ffd1d9;

        --brand-1: #180E10;
        --brand-2: #221216;
        --brand-3: #3D101F;
        --brand-4: #550225;
        --brand-5: #66072E;
        --brand-6: #77173B;
        --brand-7: #92264C;
        --brand-8: #BE3063;
        --brand-9: #FF007B;
        --brand-10: #F0006F;
        --brand-11: #FF89AC;
        --brand-12: #FFD0DC;

        --mauve-1: #121113;
        --mauve-2: #1a191b;
        --mauve-3: #232225;
        --mauve-4: #2b292d;
        --mauve-5: #323035;
        --mauve-6: #3c393f;
        --mauve-7: #49474e;
        --mauve-8: #625f69;
        --mauve-9: #6f6d78;
        --mauve-10: #7c7a85;
        --mauve-11: #b5b2bc;
        --mauve-12: #eeeef0;

          --mauve-a1: #00000000;
          --mauve-a2: #f5f4f609;
          --mauve-a3: #ebeaf814;
          --mauve-a4: #eee5f81d;
          --mauve-a5: #efe6fe25;
          --mauve-a6: #f1e6fd30;
          --mauve-a7: #eee9ff40;
          --mauve-a8: #eee7ff5d;
          --mauve-a9: #eae6fd6e;
          --mauve-a10: #ece9fd7c;
          --mauve-a11: #f5f1ffb7;
          --mauve-a12: #fdfdffef;

            --jade-1: #0d1512;
            --jade-2: #121c18;
            --jade-3: #0f2e22;
            --jade-4: #0b3b2c;
            --jade-5: #114837;
            --jade-6: #1b5745;
            --jade-7: #246854;
            --jade-8: #2a7e68;
            --jade-9: #29a383;
            --jade-10: #27b08b;
            --jade-11: #1fd8a4;
            --jade-12: #adf0d4;

              --iris-1: #13131e;
              --iris-2: #171625;
              --iris-3: #202248;
              --iris-4: #262a65;
              --iris-5: #303374;
              --iris-6: #3d3e82;
              --iris-7: #4a4a95;
              --iris-8: #5958b1;
              --iris-9: #5b5bd6;
              --iris-10: #6e6ade;
              --iris-11: #b1a9ff;
              --iris-12: #e0dffe;

                --black-a1: rgba(255, 255, 255, 0.05);
                --black-a2: rgba(255, 255, 255, 0.1);
                --black-a3: rgba(255, 255, 255, 0.15);
                --black-a4: rgba(255, 255, 255, 0.2);
                --black-a5: rgba(255, 255, 255, 0.3);
                --black-a6: rgba(255, 255, 255, 0.4);
                --black-a7: rgba(255, 255, 255, 0.5);
                --black-a8: rgba(255, 255, 255, 0.6);
                --black-a9: rgba(255, 255, 255, 0.7);
                --black-a10: rgba(255, 255, 255, 0.8);
                --black-a11: rgba(255, 255, 255, 0.9);
                --black-a12: rgba(255, 255, 255, 0.95);

                  --yellow-1: #14120b;
                  --yellow-2: #1b180f;
                  --yellow-3: #2d2305;
                  --yellow-4: #362b00;
                  --yellow-5: #433500;
                  --yellow-6: #524202;
                  --yellow-7: #665417;
                  --yellow-8: #836a21;
                  --yellow-9: #ffe629;
                  --yellow-10: #ffff57;
                  --yellow-11: #f5e147;
                  --yellow-12: #f6eeb4;

              }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .pachi-field-error {
    @apply border-rose-500 bg-red-100 hover:bg-red-200
  }
  .pachi-field-neutral {
    @apply border-zinc-200 dark:border-zinc-600;
  }
}
@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-xl;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

